<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    :root{
        --sand:#ede6cc
    }


    h4 {
        color: black;
        font-size: 5vw;
        background-color:var(--sand);
        width: 700px;

    }
    nav {

        font-size:large;
    }

    body{
        margin: 50px;
background-color: rgb(84, 179, 174) ;
background-repeat: repeat-y;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
border: 1px solid var(--sand);
border-radius: 25px;
margin: 5px;
    }

    
</style>

</head>

<body>

    <nav>
        <a href="file:///C:/Users/%D7%A8%D7%95%D7%A0%D7%99%20%D7%92%D7%95%D7%98%D7%9C%D7%99%D7%91/Desktop/web%20project/roni-gotliv/templates/ContactUs.html">ContactUs</a> |
        <a href="https://www.google.co.il/?hl=iw">search</a> |
        <a href="https://www.google.com/maps/@32.226743,34.747009,9z?hl=iw">map</a> 
      </nav>
    <center><h4><big>Holiday booking</big></h4></center>
    
    <hr><hr>


    <img src="../static/DSC06502.JPG" alt="" width="400" height="200">
    <img src="../static/img2.jpg" alt="" width="400" height="200">
    <img src="../static/img3.JPG" alt="" width="400" height="200">
    
    
    

    <center><p><b>Photos from Mexico</b></p></center>

   
</body>
</html>