<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link  rel="stylesheet" href="..\static\NEWCSS.CSS">
  <script defer src="..\static\JS.JS"> </script>


</head>

<body>
  <div class="gridContainer">
    <ul>
      <nav>
        <div class="topnav">
          <li><a
              href="../templates/Homepage.html">Homepage</a></li>
          <li><a
              href="../templates/ContactUs.html">ContactUs</a></li>
          <li><a href="https://www.google.co.il/?hl=iw">search</a></li>
          <li><a href="https://www.google.com/maps/@32.226743,34.747009,9z?hl=iw">map</a></li>
        </div>
      </nav>
    </ul>
     
     
      
<br><br>
     <div class="header">Holiday booking</div><br><br><br>
<hr><hr>

      
<form class="forms" action="Homepage.html" method="post">
  <br><br>
      <img id="img1" src="../static/DSC06502.JPG" alt="" width="400" height="200">
      <img id="img2" src="../static/img2.jpg" alt="" width="400" height="200">
      <img id="img3" src="../static/img3.JPG" alt="" width="400" height="200">
    </form>

      <div class="footer">do you like this photos?</div>

    <small><button  onclick="typeWriter()" >Click me</button></small>

      <p id="demo"></p>


    </div>
  </div>
</body>

</html>