<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="file:///C:\Users\רוני גוטליב\Desktop\web project\roni-gotliv\static/CSS.Css">
  <script type="text/javascript"
    src="file:///C:\Users\רוני גוטליב\Desktop\web project\roni-gotliv\static\JS.JS"> </script>


</head>

<body>
  <div class="gridContainer">
    <div>

      <ul>
        <nav>
          <div class="topnav">
            <li><a
                href="file:///C:/Users/%D7%A8%D7%95%D7%A0%D7%99%20%D7%92%D7%95%D7%98%D7%9C%D7%99%D7%91/Desktop/web%20project/roni-gotliv/templates/Homepage.html">Homepage</a>
              |</li>
            <li><a
                href="file:///C:/Users/%D7%A8%D7%95%D7%A0%D7%99%20%D7%92%D7%95%D7%98%D7%9C%D7%99%D7%91/Desktop/web%20project/roni-gotliv/templates/ContactUs.html">ContactUs</a>
              |</li>
            <li><a href="https://www.google.co.il/?hl=iw">search</a>|</li>
            <li><a href="https://www.google.com/maps/@32.226743,34.747009,9z?hl=iw">map</a></li>
          </div>
        </nav>
      </ul>

      <h4>Holiday booking</h4>


      <hr>
      <hr>

      <img id="img1" src="../static/DSC06502.JPG" alt="" width="400" height="200">
      <img id="img2" src="../static/img2.jpg" alt="" width="400" height="200">
      <img id="img3" src="../static/img3.JPG" alt="" width="400" height="200">


      <h1>do you like this photos?</h1>

      <button onclick="typeWriter()">Click me</button>

      <p id="demo"></p>


    </div>
  </div>
</body>

</html>